{% extends "crm/navbar.html" %}


{% block content %} 

<div class="flex flex-col justify-center items-center">

  <h1 id="title" class="text-2xl font-bold mb-4 mt-4">Update Record</h1>
  <form method="POST">
    {% csrf_token %}
    <div class="input-section">
      <div class="input-field" id="username">
        {{ form.first_name }}
        
      </div>
      <div class="input-field" id="username">
        {{ form.last_name }}
        
      </div>
      

      <div class="input-field">
        {{ form.email }}
        
      </div>

      <div class="input-field">
        {{ form.phone }}
        
      </div>

      <div class="input-field">
        
        {{ form.address }}
        
      </div>

      <div class="input-field">
        {{ form.city }}
        
      </div>

      <div class="input-field">
        {{ form.state }}
        
      </div>

      <div class="input-field">
        {{ form.zipcode }}
        
      </div>


    </div>

    <button type="submit" class="mt-4 ml-6 px-5 py-2.5 rounded-lg text-white text-sm tracking-wider border-none outline-none bg-blue-600 hover:bg-blue-700">Update Record</button>


  </form>

</div>


    
{% endblock %}